Repository onaio/js-tools, pull requests merged in 2020-03, with the labels that each got.

#136 Add @onaio/utils package
  package.json
  packages/utils/README.md
  packages/utils/dist/index.js
  packages/utils/dist/types.js
  packages/utils/dist/types/index.d.ts
  packages/utils/dist/types/types.d.ts
  packages/utils/dist/types/utils.d.ts
  packages/utils/dist/utils.js
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/tests/types.test.ts
  packages/utils/src/tests/utils.test.ts
  packages/utils/src/types.ts
  packages/utils/src/utils.ts
  packages/utils/tsconfig.json
  yarn.lock
Labels: new package

#138 Add formik-effect package
  package.json
  packages/HeaderBreadcrumb/src/tests/__snapshots__/index.test.tsx.snap
  packages/ListView/src/tests/index.test.tsx
  packages/Pagination/src/index.tsx
  packages/connected-reducer-registry/src/tests/index.test.ts
  packages/formik-effect/README.md
  packages/formik-effect/dist/index.js
  packages/formik-effect/dist/types/index.d.ts
  packages/formik-effect/package.json
  packages/formik-effect/src/index.tsx
  packages/formik-effect/src/tests/__snapshots__/index.test.tsx.snap
  packages/formik-effect/src/tests/index.test.tsx
  packages/formik-effect/tsconfig.json
  packages/gatekeeper/src/components/callback/custom.tsx
  packages/gatekeeper/src/components/callback/implicit.tsx
  packages/gatekeeper/src/components/logout.tsx
  stories/ListView/ListView.stories.tsx
  yarn.lock
Labels: new package

#137 Add CBV package
  packages/cbv/README.md
  packages/cbv/dist/Base.js
  packages/cbv/dist/ObjectList.js
  packages/cbv/dist/SingleObject.js
  packages/cbv/dist/index.js
  packages/cbv/dist/types/Base.d.ts
  packages/cbv/dist/types/ObjectList.d.ts
  packages/cbv/dist/types/SingleObject.d.ts
  packages/cbv/dist/types/index.d.ts
  packages/cbv/package.json
  packages/cbv/src/Base.tsx
  packages/cbv/src/ObjectList.tsx
  packages/cbv/src/SingleObject.tsx
  packages/cbv/src/index.ts
  packages/cbv/src/tests/ObjectList.test.tsx
  packages/cbv/src/tests/SingleObject.test.tsx
  packages/cbv/src/tests/ducks/messages.ts
  packages/cbv/tsconfig.json
  yarn.lock
Labels: new package

#147 Add react-utils package to hold react specific utility functions
  packages/GoogleAnalytics/dist/types/components/WithGATracker/index.d.ts
  packages/GoogleAnalytics/dist/types/configs/types.d.ts
  packages/GoogleAnalytics/src/components/WithGATracker/index.tsx
  packages/react-utils/README.md
  packages/react-utils/dist/index.js
  packages/react-utils/dist/types.js
  packages/react-utils/dist/types/index.d.ts
  packages/react-utils/dist/types/types.d.ts
  packages/react-utils/package.json
  packages/react-utils/src/index.ts
  packages/react-utils/src/tests/types.test.tsx
  packages/react-utils/src/types.ts
  packages/react-utils/tsconfig.json
  packages/utils/dist/types/types.d.ts
  packages/utils/src/tests/types.test.ts
  packages/utils/src/types.ts
Labels: needs discussion, new package

#145 Integrate Google Analytics tracking into react apps
  packages/GoogleAnalytics/README.md
  packages/GoogleAnalytics/dist/components/GARoute/index.js
  packages/GoogleAnalytics/dist/components/WithGATracker/index.js
  packages/GoogleAnalytics/dist/constants.js
  packages/GoogleAnalytics/dist/helpers/index.js
  packages/GoogleAnalytics/dist/index.js
  packages/GoogleAnalytics/dist/types/components/GARoute/index.d.ts
  packages/GoogleAnalytics/dist/types/components/WithGATracker/index.d.ts
  packages/GoogleAnalytics/dist/types/constants.d.ts
  packages/GoogleAnalytics/dist/types/helpers/index.d.ts
  packages/GoogleAnalytics/dist/types/index.d.ts
  packages/GoogleAnalytics/package.json
  packages/GoogleAnalytics/src/components/GARoute/index.tsx
  packages/GoogleAnalytics/src/components/GARoute/tests/__snapshots__/index.test.tsx.snap
  packages/GoogleAnalytics/src/components/GARoute/tests/index.test.tsx
  packages/GoogleAnalytics/src/components/WithGATracker/index.tsx
  packages/GoogleAnalytics/src/components/WithGATracker/tests/index.test.tsx
  packages/GoogleAnalytics/src/constants.ts
  packages/GoogleAnalytics/src/helpers/index.tsx
  packages/GoogleAnalytics/src/helpers/tests/index.test.tsx
  packages/GoogleAnalytics/src/index.tsx
  packages/GoogleAnalytics/tsconfig.json
  packages/react-utils/README.md
  packages/react-utils/dist/index.js
  packages/react-utils/dist/types.js
  packages/react-utils/dist/types/index.d.ts
  packages/react-utils/dist/types/types.d.ts
  packages/react-utils/package.json
  packages/react-utils/src/index.ts
  packages/react-utils/src/tests/types.test.tsx
  packages/react-utils/src/types.ts
  packages/react-utils/tsconfig.json
  yarn.lock
Labels: new package

#149 Solve bug module @onaio/google-analytics not found
  packages/GoogleAnalytics/README.md
  packages/GoogleAnalytics/package.json
Labels: bug

#152 Export useOAuthLogin from package gatekeeper index
  packages/gatekeeper/dist/components/callback/custom.js
  packages/gatekeeper/dist/components/callback/implicit.js
  packages/gatekeeper/dist/ducks/gatekeeper.js
  packages/gatekeeper/dist/helpers/services.js
  packages/gatekeeper/dist/index.js
  packages/gatekeeper/dist/types/components/callback/base.d.ts
  packages/gatekeeper/dist/types/components/callback/custom.d.ts
  packages/gatekeeper/dist/types/components/callback/implicit.d.ts
  packages/gatekeeper/dist/types/components/logout.d.ts
  packages/gatekeeper/dist/types/index.d.ts
  packages/gatekeeper/src/index.ts
Labels: bug
